@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

button{
  padding: 18px;
  width: 200px;
  border: 1px solid grey;
  background-color: transparent;
  color: lightgrey;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s ease-out;
  margin:0 4em;
  font-size:20px;
  letter-spacing: .5px;
}

button:hover{
  transform: scale(1.09);
  color: limegreen;
  letter-spacing: 2.8px;
  border: 2px solid limegreen;
  -webkit-box-shadow: 10px 11px 36px -17px rgba(0,230,0,1);
    -moz-box-shadow: 10px 11px 36px -17px rgba(0,230,0,1);
    box-shadow: 10px 11px 36px -17px rgba(0,230,0,1);
    }


.container{
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.pages {
  display: flex;
  width: 500%;
  box-sizing: border-box; 
}

.page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  transition: all 0.7s;
  color: white;
  
}
.five{
    background:darkblue;
}
.seller {
  display: grid;
  grid-template-columns: 10% repeat(4, 20%) 10%;
  grid-template-rows: repeat(9, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width:100%;
  height:90vh;
 
  }
  .left:hover{
    -webkit-box-shadow: 0px 0px 22px 6px rgba(0,0,0,0.29);
    -moz-box-shadow: 0px 0px 22px 6px rgba(0,0,0,0.29);
    box-shadow: 0px 0px 22px 6px rgba(0,0,0,0.29);
  }
  
  .left { grid-area: 2 / 2 / 9 / 4;
    padding:20px;
    border-radius:10px;
    height:fit-content;
    transition: 0.3s ease-out;
   }
  .left p {
    padding:20px 170px 20px 0px;
  }
  .right { grid-area: 7 / 5 / 9 / 6; }

.one{
  background: hsl(247, 42%, 41%); 
}

.two{
 
  animation: colorchange 22s infinite;

}

@keyframes colorchange {
  0%   {background-color: #035397;}
  25%  {background-color: #4B7BE5;}
  50%  {background-color: #5534A5;}
  75%  {background-color: #A85CF9;}
  90% {background-color: #035397;}
  100% {background-color: #035397;}
}
.resp {
    display: inline-block;
    text-align: left; 
    width: 16vw; 
    height: 180px ;
    margin-bottom: 1%;
    justify-content:center;
    
}


.three{
  background-color: indigo;
  z-index:9;
}

.four{
  background-color: black;
}

.tooltip {
    display: inline-block;
    
    text-align: left;
    height:100vh ;
    justify-content:center;
    max-width:100vw;
    margin-left:11%;
  }
  
  .dot {
    display: inline-block;
    text-align: left; 
    width: 16vw; 
    height: 180px ;
    margin-right: 1%;
    padding-bottom:2%;
   
  }
  
  .content {
    display:inline-block;
    position: relative;
    padding-left:15px;
    left: -270px;
    opacity: 0;
    transition: opacity .7s ease-in-out;
    align-content:center;
    min-width:10vw;
    max-width:10vw;
    border-radius:6px;
    background-color: rgba(0, 0, 0, 0.755);
    backdrop-filter: blur(7px);
    color:white;
    padding:8px 4px;
    font-size:12px;
    text-align:left;
    
  }
  
  .content h1,
  .content p {
    margin: 0;
  }
  .content h1{
      font-size:16px;
  }
  .content {
    margin-bottom:25px;
  }

  
  .dot:hover + .content {
    opacity: 1;
  }
  
  .specificLocation {
    margin-left: 100px;
  }
  .imgz{
      width:16vw;
      margin-top:15% ;
      margin-bottom:15%;
      border-radius:7px;
      box-shadow: 5px 2px 12px rgba(0, 0, 0, 0.228);
      transition:0.2s ease-in-out ;
  }
  .imgz:hover{
      transform:scale(1.33);
      box-shadow: 5px 8px 12px rgba(0, 0, 0, 0.528);
  }
  .bimgz{
    transition:0.4s ;
    width:100%;
  }
  .bimgz:hover{
    transform:scale(1.01);
    box-shadow: 5px 8px 12px rgba(0, 0, 0, 0.128);
}
.infosec{
  transition: .5s ;
}
.infosec:hover{
  transform:scale(1.01);
  box-shadow:2px 2px 15px 1px rgba(0, 0, 0, 0.128);
}
#dropContainer{
  border:1px solid white;
  height:300px; 
  width: 60vw;
}
#dropContainer p{
  display:block;
  text-align: center;
  margin-top:20%;
}